.panel-asset-item
  overflow hidden
  position relative
  padding-bottom 45px

  .asset-item-thumbnail
    float left
    width 25%

    img
      max-width 80%

  .asset-item-details
    float left
    width 75%

  .asset-item-meta
    position absolute
    bottom 0px
    left 0px
    right 0px
    background-color darken(#fff, 10%)
    border-top 1px solid darken(#fff, 15%)
    padding 5px
    text-align center


    span
      margin-right 10px
      font-size 11px

  .delete
    position absolute
    top 18px
    right 20px